#header {
  height: 61px;
  padding-top: 30px;
}

.headerlogo {
  position: absolute;
  top: -5px;
  left: 10px;
}

.headerlogo img {
  width: 100px;
  height: 100px;
}

#pagenav {
  position: absolute;
  top: 100px;
  left: 10px;
}

#pagenav li {
  list-style-type: none;
  padding-left: 10px;
}
